html, body {
   margin: 0;
   height: 100%;
}
.articles{
  font-family:  'Segoe UI';
  position:absolute;
  top:5%;
  left:20%;
}

.elt{
  margin-left: 5%;
  font-family: 'Courier New', Courier, monospace;
  color: #f2f2f2; 

}

#airplane {
color: #4bf309;
font-size: 30px;
left: 53%;
top:18%;
position: absolute;
}
#chair {
transform: rotate(90deg);
color: #4bf309;
font-size: 30px;
left: 63%;
top:57%;
position: absolute;
}
#pig {
color: #4bf309;
font-size: 35px;
left: 815px;
top:465px;
position: absolute;
}
#zebra {
color: #4bf309;
font-size:30px;
left: 610px;
top:500px;
position: absolute;
}
#cow {
color: #4bf309;
font-size:40px;
left: 45%;
top:78%;
position: absolute;
}
#dog {
color: #4bf309;
font-size:25px;
left: 32%;
top:56%;
position: absolute;
}

#human{
transform: rotate(90deg);
color: #4bf309;
font-size: 25px;
left: 36%;
top:17%;
position: absolute;
}
#a-me_Mario{
color: #4bf309;
font-size: 25px;
left: 49%;
top:47%;
position: absolute;
}


.guess {
  font-family: Orbitron; 
  font-style: normal;
  font-variant: normal; 
  font-weight: 700;
  line-height: 15.4px;
  color: #f2f2f2;
  font-size: 20px;
  position: absolute;
  bottom: 35%;
  left: 49%;
  text-align: center;
}

#link{
  font-weight: 700;
  line-height: 15.4px;
  color: #f2f2f2;
  font-size: 20px;
  position: absolute;
  bottom: 30%;
  left: 46%;
  text-align: center;
} 



#link:hover{
  COLOR: #25bdde; TEXT-DECORATION: none; font-weight: none;

}
#link-m{
  font-style: normal;
  font-variant: normal; 
  font-weight: 700;
  line-height: 15.4px;
  color: #f2f2f2;
  font-size: 20px;
  position: absolute;
  bottom: 25%;
  left: 30%;
  text-align: center;
} 
canvas { 
width: 100%;
height: 100%;
display: block;
}


.animal{
  cursor:default;
  opacity:0; 
}
#logo{
  font-family: 'Quicksand', sans-serif;
  font-size: 40px;
  top:4%;
  left:4%;
  position: absolute;
  color:white;
}


.content-desktop {display: block;}
.content-mobile {display: none;}

@media screen and (max-width: 600px) {

.content-desktop {display: none;}
.content-mobile {display: block;}
}

.img_reco{
  width: 200px;
  height: 200px;
  position: absolute;
  margin-top: 40%;
  margin-left:25%;
}

@import url('https://fonts.googleapis.com/css?family=Amatic+SC');




.description, .link {
  font-family: 'Amatic SC', cursive;
  text-align: center;
}

.description {
	font-size: 35px;
}

.btn {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  
  padding: 17px 60px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

.btn span {
  position: relative; 
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #25bdde;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-10%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.title{
  color:white;

}

a{
  text-decoration: none;
}


