body{
    background-image: url('bg.jpg');
     background-attachment: fixed;
   background-size: cover;
}
#airplane {
opacity:0;
color: #4bf309;
font-size: 30px;
left: 780px;
top:135px;
position: absolute;
}
#chair {
opacity:0;
transform: rotate(90deg);
color: #4bf309;
font-size: 30px;
left: 860px;
top:310px;
position: absolute;
}
#pig {
opacity:0;
color: #4bf309;
font-size: 30px;
left: 800px;
top:420px;
position: absolute;
}
#zebra {
opacity:0;
color: #4bf309;
font-size:30px;
left: 620px;
top:450px;
position: absolute;
}
#cow {
opacity:0;
color: #4bf309;
font-size:30px;
left: 480px;
top:342px;
position: absolute;
}
#dog {
opacity:0;
color: #4bf309;
font-size:25px;
left: 490px;
top:180px;
position: absolute;
}

#human{
opacity:0;
transform: rotate(90deg);
color: #4bf309;
font-size: 30px;
left: 620px;
top:50px;
position: absolute;
}


.guess {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 35px;
left: 650px;
text-align: center;
}

       
canvas { 
width: 100%;
height: 100%;
}


